annotated-doc
annotated-types
anyio
click
fastapi
h11
httptools
idna
joblib
numpy                 
pandas                
pydantic
pydantic_core
python-dateutil
python-dotenv
pytz
PyYAML
scikit-learn          
scipy                
six
sniffio
starlette
threadpoolctl
typing-inspection
typing_extensions
tzdata
uvicorn
uvloop; sys_platform != "win32"
watchfiles
websockets
